.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    height: space(7);
    padding: space(1) 0;
  }

  &-nav {
    display: flex;
    align-items: center;

    @media (max-width: 838px) {
      display: none;
    }
  }

  &-link {
    padding: space(3);
    font-size: rem(16px);
    text-transform: capitalize;
    color: $color--white;
  }

  &-link:last-child {
    padding: space(3) 0 space(3) space(3);
  }

  &-switch {
    height: space(2);
    padding-left: space(1);
    transform: scaleY(-1);
  }

  &-hamburger {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35px;
    width: 35px;
    overflow: hidden;

    @media (min-width: 839px) {
      display: none;
    }
  }

  &-line {
    &__top,
    &__middle,
    &__bottom {
      height: 2px;
      background-color: $color--black;
    }

    &__middle {
      width: 75%;
      align-self: flex-end;
    }
  }
}

.header-dark .header {
  &-link {
    color: $color--white;
  }

  &-logo-wrapper {
    position: relative;
  }

  &-logo-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    z-index: 100;
    height: 100vh;
    width: 70vw;
    background: radial-gradient(
      rgba(224, 224, 224, 0.3) 0%,
      rgba(191, 171, 37, 0) 60%
    );

    @media (max-width: 838px) {
      width: 120vw;
      height: 90vw;
    }
  }
}

.header-light .header {
  &-link {
    color: $color--black;
  }
}
