@import "./Header/Header.scss";
@import "./Home/Home.scss";
@import "./Hero/Hero.scss";
@import "./SingleLinkList/SingleLinkList.scss";
@import "./Node/Node.scss";
@import "./ListToolBar/ListToolBar.scss";
@import "./DropDown/DropDown.scss";
@import "./ColorDropDown/ColorDropDown.scss";
@import "./SkillsSection/SkillsSection.scss";
@import "./MobileNav/MobileNav.scss";
@import "./Project/Project.scss";
@import "./Contact/Contact.scss";
