/*-------------------------------*/
/*GLOBALS*/
/*-------------------------------*/
:root {
  font-size: 18px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $font-family--primary;
  color: $color--black;
}

body {
  box-sizing: border-box;
}

textarea,
input {
  border: none;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

h1 {
  font-size: space(5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--secondary;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}
